@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  @apply bg-surface text-on-surface;


  hr {
    @apply border-0 border-t border-solid border-surface-b;
  }
}
