table.vf-table
  border-collapse: collapse
  width: 100%
  margin-bottom: 1.5rem

  thead
    th
      padding: 0.5rem
      text-align: left
      border-bottom: 1px solid #5b5b5b

  tbody
    tr
      border-bottom: 1px solid #353535
      &:nth-child(odd)
          background-color: #202020

    td
      padding: 0.5rem
      border-bottom: 1px solid #444444

      code
        background-color: #191919
        color: #969696
        padding: .2rem .3rem
        border-radius: 3px
        border: 1px solid #444444
        font-size: 0.9rem
        letter-spacing: 0.1px
        @apply font-mono break-all