.pg-view {
  padding: 1rem;
  @apply max-w-[1400px] mx-auto;
  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  &__content {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
  }

  form {
    @apply col-span-1 lg:col-span-2;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    select {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    textarea {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .vf-field {
      label {
        font-size: 1rem;
      }
      .vf-input {
        input {
          width: 100%;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        select,
        textarea {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 0.25rem;
          font-size: 1rem;
          width: 100%;
          background-color: #252525;

          &:focus,
          &:focus-visible,
          &:focus-within {
            outline: 1px solid white;
          }
        }

        &--error {
          border: 1px solid red !important;

          &:focus,
          &:focus-visible,
          &:focus-within {
            outline: 1px solid red !important;
          }
        }
      }
      .vf-error {
        color: red;
        font-size: 0.875rem;
      }
    }

    .addresses {
      .vf-field {
        @apply grow;
      }
      button {
        width: fit-content !important;
        text-decoration: none;
      }
    }
  }
}
