@reference "tailwindcss";

.info_page {
  @apply p-8;

  section:not(.vf-table-root) {
    @apply mb-10;
  }

  section.vf-table-root {
    @apply mb-8;
  }

  h1 {
    @apply text-3xl font-medium text-start mb-6;
  }

  h2 {
    @apply text-2xl font-medium;
  }

  h3 {
    @apply text-xl font-medium;
  }

  h4 {
    @apply text-lg font-medium;
  }

  h5 {
    @apply text-base font-medium;
  }

  p {
    @apply text-sm;

    a {
      @apply hover:underline;
      color: var(--color-primary);
    }
  }

  pre {
    @apply p-4 rounded-lg text-xs;
  }

  blockquote {
    @apply p-4 border-l-4 rounded-r-lg border-primary;
    @apply bg-gray-800 text-gray-200;

    li {
      @apply mb-1 ml-1;
    }
  }

  article {
    li {
      @apply mb-2 ml-0;
    }

    @apply p-4 rounded-lg break-all text-gray-300;
    background-color: var(--color-secondary);
  }

  ol,
  ul {
    li {
      @apply mb-2 ml-4;
    }
  }

  p,
  blockquote,
  ol,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  article {
    &:not(:last-child) {
      @apply mb-4;
    }

    code {
      @apply bg-gray-800 text-gray-200 p-1 rounded-lg;
      @apply border border-gray-600;
      @apply font-mono;
      @apply break-all;
    }
  }

  strong {
    @apply font-bold;
  }
}

